* {
  font-family: "Segoe UI";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
  background-color: gainsboro;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;

  gap: 20px;
  width: 100%;
  min-height: 100vh;

  background-color: #f8fafc;
}

.grad {
  background-image: linear-gradient(to right, gainsboro, #eef2ff);
}

.header {
  color: #1e293b;
  background-color: transparent;
}
/*CALENDÁRIO */
.flatpickr-calendar {
  width: 100% !important;
  max-width: 100% !important;
  box-shadow: none;
}

.flatpickr-innerContainer,
.flatpickr-days,
.dayContainer {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  height: 50vh;
}

.flatpickr-day.selected,
.flatpickr-day.selected:hover {
  background: #5c7cfa !important;
  border-color: #5c7cfa !important;
  color: #1e293b;
}
.flatpickr-day:hover {
  background: #eef2ff !important;
  border-color: #eef2ff !important;
  color: #1e293b !important;
}

.calendar {
  background-color: transparent;

  flex: 0 0 58%;
  min-width: 320px;
  border-radius: 2px;
  height: 50vh auto;
  padding: 10px;
  margin-left: 20px;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.18);
}

/*CARDS DE CADASTRO E VISUALIZAÇÃO DE DADOS*/
.cards {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  flex: 1;
  min-width: 300px;
  margin-right: 90px;
}

.cardtype1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 56%;
  height: 30vh;
  border-radius: 2px;
  border: 2rem;
  border-color: gainsboro;
  background-color: transparent;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.18);
}
.cardtype2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 56%;
  height: 30vh;
  border-radius: 2px;
  border-color: gainsboro;
  background-color: transparent;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.18);
}
.upper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10vh;

  background-color: gainsboro;
  color: #1e293b;
}

/*POPUP DE CLIENTES*/

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 60vh;
  border: none;
  border-radius: 2px;
  background-color: #f8fafc;
  opacity: 90%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.18);
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
dialog::backdrop {
  background-color: (0, 0, 0, 0.5);
}
.modalHead {
  color: #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalBody {
  padding: 8px;
  border: solid gainsboro;
  opacity: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.18);
  border-radius: 2px;
}
.closeMd {
  border: none;
  border-radius: 2px;
  background-color: transparent;
  width: 25px;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  padding-bottom: 6px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.18);
}
/*ÍCONES */
i {
  color: #1e293b;
}

/*BOTÕES*/
button:not(.closeMd) {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 6px;
  font-size: smaller;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.18);
}
button:hover{
  border: 2px solid #5c7cfa;
}

/*LINKS*/
a {
  text-decoration: none;
  color: #1e293b;
}

/*CONTADOR DE CLIENTES*/
.dashcont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

/*RESPONSIVIDADE*/
@media (max-width: 768px) {
  .calendar {
    margin-left: 22%;
  }
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }
  .cardtype1,
  .cardtype2 {
    width: calc(56% - 20px);
    min-width: 150px;
    max-width: 100%;
    margin-left: 100px;
  }
}
